/* Error: Plain CSS functions don't support keyword arguments.
 *    ,
 * 13 |         background: lighten_clr($color: $color-primary);
 *    |                     ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   sass\Utils\mixins.scss 13:21       bouton-principaux()
 *   sass\Components\_boutons.scss 2:5  @import
 *   sass\main.scss 15:9                root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Plain CSS functions don't support keyword arguments.\a    \2577 \a 13 \2502          background: lighten_clr($color: $color-primary);\d\a    \2502                      ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   sass\\Utils\\mixins.scss 13:21       bouton-principaux()\a   sass\\Components\\_boutons.scss 2:5  @import\a   sass\\main.scss 15:9                root stylesheet";
}
