@keyframes load-bars {
  0% {
    transform: scaleY(0.5);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes loader {
  0% {
    opacity: 1;
    height: 100%;
  }
  99.9% {
    opacity: 1;
    height: 100%;
  }
  100% {
    opacity: 0;
    height: 0%;
  }
}
@keyframes btn-fav {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    opacity: 0.3;
  }
  60% {
    opacity: 1;
  }
  80% {
    transform: scale(1.4);
    text-shadow: 0px 0px 5px #FF79DA;
  }
  85% {
    transform: scale(1);
  }
  95% {
    transform: scale(1.4);
    text-shadow: 0px 0px 5px #FF79DA;
  }
  100% {
    transform: scale(1);
  }
}
@keyframes fav-border {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes anim-dish {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes dish-price {
  0% {
    transform: translateX(25%);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes dish-check {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes check-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1turn);
  }
}
body {
  margin: 0px;
  height: 100%;
  width: 100%;
}
body a {
  text-decoration: none;
}

h1, h2, h3, h4, p {
  color: black;
}

* {
  font-family: "Roboto", "Arial", "Comic Sans MS", "Georgia", "Trebuchet MS", "Verdena";
}

h1 {
  font-family: "Shrikhand", "Roboto", "Arial", "Comic Sans MS", "Georgia", "Trebuchet MS", "Verdena";
}

.load {
  width: 100%;
  height: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: fixed;
  background: #f3f3f3;
  z-index: 2;
  opacity: 0;
  animation: loader 2400ms backwards ease-in-out;
}
.load__bar {
  background: linear-gradient(172deg, #FF79DA, 45%, #9356DC);
  height: 20%;
  width: 3vh;
  margin: 0 10px 0 10px;
  animation: load-bars 400ms backwards infinite ease-in-out alternate;
}
.load__bar--1 {
  animation-delay: 80ms;
}
.load__bar--2 {
  animation-delay: 160ms;
}
.load__bar--3 {
  animation-delay: 240ms;
}
.load__bar--4 {
  animation-delay: 320ms;
}
.load__bar--5 {
  animation-delay: 400ms;
}

@media screen and (min-width: 600px) {
  body .header {
    padding-bottom: 20px;
  }
  body .header h1 {
    font-size: 2.8rem;
  }
}
.header {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: center;
  z-index: 0;
}
.header__logo {
  width: 80%;
}
.header__logo h1 {
  font-size: 1.8rem;
  font-weight: 400;
  margin: 15px 0px 0px 0px;
  text-align: center;
}
.header__back {
  color: #2e2e2e;
  font-size: 1.2rem;
  margin-top: 25px;
}

@media screen and (min-width: 600px) {
  body .footer {
    text-align: center;
  }
  body .footer__title {
    font-size: 2rem;
  }
  body .footer li {
    font-size: 1.2rem;
  }
}
.footer {
  background: #2e2e2e;
  padding: 30px 0px 20px 20px;
}
.footer__title {
  font-weight: 300;
  font-size: 1.2rem;
  color: #fff;
  margin: 0px 0px 20px 0px;
  font-family: "Shrikhand", "Roboto", "Arial", "Comic Sans MS", "Georgia", "Trebuchet MS", "Verdena";
}
.footer__list {
  padding: 0px;
  list-style-type: none;
}
.footer__list li {
  margin-bottom: 10px;
}
.footer__list a {
  padding: 0px;
  font-weight: 500;
  color: #fff;
}

.fa-utensils {
  font-size: 1rem;
  margin-right: 10px;
}

.fa-hands-helping {
  font-size: 0.7rem;
  margin-right: 10px;
}

@media screen and (min-width: 600px) {
  main .card {
    bottom: 40px;
  }
  main .card__restoname {
    justify-content: center;
    padding-right: 0%;
  }
  main .card__restoname h2 {
    font-size: 2rem;
    margin-right: 25px;
  }
  main .card__title {
    font-size: 1.5rem;
    width: 60px;
    margin-bottom: 15px;
  }

  main .dish__name {
    font-size: 1.2rem;
  }
  main .dish__info {
    font-size: 1rem;
  }
  main .dish__price {
    font-size: 1rem;
  }
  main .dish .fas.dish__check {
    margin-top: -38.2px;
  }
}
.menu {
  width: 100%;
}
.menu__img {
  width: 100%;
  height: 240px;
  object-fit: cover;
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 50px;
  margin-bottom: -50px;
  background: #f3f3f3;
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
  padding: 30px 18px 50px 18px;
}
.card__restoname {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  padding-right: 5%;
}
.card__restoname h2 {
  margin: 0px;
  font-family: "Shrikhand", "Roboto", "Arial", "Comic Sans MS", "Georgia", "Trebuchet MS", "Verdena";
  font-weight: 400;
  font-size: 1.6rem;
}
.card__restoname button {
  display: flex;
  cursor: pointer;
  align-items: center;
}
.card__restoname button .fav__border {
  color: black;
  z-index: 1;
  font-size: 1.8rem;
}
.card__restoname button:hover > .fav__border {
  animation: fav-border 1500ms forwards ease-in-out;
}
.card__restoname button .fav__main {
  color: #FF79DA;
  z-index: 0;
  transform: scale(0);
  font-size: 1.6rem;
  margin-left: -27px;
}
.card__restoname button:hover > .fav__main {
  animation: btn-fav 1500ms forwards ease-in-out;
  transform-origin: center bottom;
}
.card__title {
  text-transform: uppercase;
  font-weight: 300;
  margin: 20px 0px 0px 0px;
  padding-bottom: 4px;
  font-size: 1rem;
  border-bottom: 2.5px solid #99E2D0;
  width: 40px;
}
.card .command__btn {
  align-self: center;
  margin-top: 40px;
}

@media screen and (min-width: 600px) {
  main .search__zonetext {
    text-align: center;
    width: 20%;
  }
}
.intro {
  background-color: #f3f3f3;
}
.intro__form {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}
.intro__title {
  width: 80%;
  margin-bottom: 0px;
  margin-top: 30px;
}
.intro__text {
  font-size: 1.1rem;
  font-weight: 300;
  margin-bottom: 30px;
  margin-top: 12px;
}

.search {
  display: flex;
  justify-content: center;
  vertical-align: middle;
  width: 100%;
  height: 3.2rem;
  background-color: #e9e8e8;
  box-shadow: inset 0px 2px 2px #c2c1c1;
  margin-bottom: 10px;
}
.search__icon {
  padding-top: 1.1rem;
  font-size: 1rem;
  margin-right: 5px;
}
.search__zonetext {
  width: 40%;
  height: 1.1rem;
  background-color: #e9e8e8;
  border: none;
  font-size: 1rem;
  font-weight: 450;
  margin-top: 1rem;
  padding-left: 12px;
}
.search__zonetext:focus-visible {
  border-radius: 1rem;
  outline: none !important;
  background: #fff;
  border: 2px solid #9356DC;
}

@media screen and (min-width: 600px) {
  main .pres {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  main .pres__title {
    width: 100%;
  }
  main .pres__bloc {
    width: 30%;
  }
}
.pres {
  padding: 40px 20px 15px 35px;
}
.pres__title {
  margin: 0px 0px 0px -15px;
}
.pres__bloc {
  display: flex;
  height: 4rem;
  background: #f3f3f3;
  box-shadow: 0px 4px 10px #c2c1c1;
  border-radius: 15px;
  margin: 25px 0px 25px 0px;
}
.pres__bloc:hover i {
  color: #9356DC;
}
.pres__bloc:hover {
  background: #f1e6ff;
}
.pres__nb {
  color: #fff;
  background: #9356DC;
  border-radius: 100%;
  padding: 5px 10px 5px 10px;
  justify-content: space-around;
  margin-left: -15px;
  height: 19px;
}
.pres i {
  margin: auto 15px auto 20px;
  color: #818181;
  width: 20px;
}
.pres__text {
  font-size: 0.9rem;
  font-weight: 450;
  margin: auto auto auto 0px;
}

.fa-mobile-alt {
  font-size: 1.2rem;
}

.fa-store {
  font-size: 0.9rem;
}

@media screen and (min-width: 600px) {
  main .resto {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  main .resto__title {
    width: 100%;
  }
  main .resto__card {
    width: 45%;
  }
}
@media screen and (min-width: 1024px) {
  main .resto__card p {
    left: 80%;
  }
}
.resto {
  padding: 40px 20px 40px 20px;
  background: #f3f3f3;
}
.resto__title {
  margin-top: 0px;
}
.resto__card {
  display: flex;
  flex-direction: column;
  background: #FFF;
  border-radius: 15px;
  text-decoration: none;
  margin-bottom: 20px;
  box-shadow: 0px 4px 10px #c2c1c1;
}
.resto__card img {
  width: 100%;
  height: 160px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover;
}
.resto__card p {
  position: relative;
  left: 70%;
  margin: -148px 0px 0px 0px;
  padding: 5px 10px 5px 10px;
  background: #99E2D0;
  color: #008060;
  font-weight: 500;
  width: 65px;
  border-radius: 3px;
}
.resto__card h3 {
  margin: 15px 0px 5px 10px;
  font-size: 1.1rem;
  width: 100%;
}
.resto__card h4 {
  margin: 0px 0px 0px 10px;
  font-size: 1rem;
  font-weight: 400;
  width: 75%;
}
.resto__card--new h3 {
  margin-top: 133px;
}
.resto__text {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 15px;
}
.resto__text button {
  margin-top: -15px;
  width: 20%;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}
.resto__text button .fav__border {
  font-size: 1.3rem;
  color: black;
  z-index: 1;
}
.resto__text button:hover > .fav__border {
  animation: fav-border 1500ms forwards ease-in-out;
}
.resto__text button .fav__main {
  font-size: 1.1rem;
  margin-left: -19.1px;
  color: #FF79DA;
  z-index: 0;
  transform: scale(0);
}
.resto__text button:hover > .fav__main {
  animation: btn-fav 1500ms forwards ease-in-out;
  transform-origin: center bottom;
}
.resto__fav {
  background: none;
  border: none;
}

.intro__btn {
  background: linear-gradient(172deg, #FF79DA, 45%, #9356DC);
  color: #fff;
  cursor: pointer;
  width: 14rem;
  height: 3.2rem;
  font-size: 1rem;
  font-weight: 450;
  border-radius: 100px;
  border: none;
  padding: 10px 10px 10px 10px;
  box-shadow: 0px 4px 10px #c2c1c1;
  position: relative;
  z-index: 1;
}
.intro__btn:hover::after {
  opacity: 1;
}
.intro__btn::after {
  content: "";
  background: linear-gradient(172deg, #ff80dc, 45%, #ba80ff);
  box-shadow: 0px 1px 15px #c4c4c4;
  border-radius: 100px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
}

.command__btn {
  background: linear-gradient(172deg, #FF79DA, 45%, #9356DC);
  color: #fff;
  cursor: pointer;
  width: 14rem;
  height: 3.2rem;
  font-size: 1rem;
  font-weight: 450;
  border-radius: 100px;
  border: none;
  padding: 10px 10px 10px 10px;
  box-shadow: 0px 4px 10px #c2c1c1;
  position: relative;
  z-index: 1;
}
.command__btn:hover::after {
  opacity: 1;
}
.command__btn::after {
  content: "";
  background: linear-gradient(172deg, #ff80dc, 45%, #ba80ff);
  box-shadow: 0px 1px 15px #c4c4c4;
  border-radius: 100px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
}

.dish {
  display: flex;
  background: #fff;
  border-radius: 15px;
  margin: 8px -5px 8px -5px;
  box-shadow: 0px 4px 10px #c2c1c1;
  flex-wrap: wrap;
  padding: 0px 0px 0px 10px;
  animation: anim-dish 1000ms backwards cubic-bezier(1, 0.01, 0.32, 0.72);
}
.dish--1 {
  animation-delay: 200ms;
}
.dish--2 {
  animation-delay: 400ms;
}
.dish--3 {
  animation-delay: 600ms;
}
.dish--4 {
  animation-delay: 800ms;
}
.dish--5 {
  animation-delay: 1000ms;
}
.dish--6 {
  animation-delay: 1200ms;
}
.dish--7 {
  animation-delay: 1400ms;
}
.dish--8 {
  animation-delay: 1600ms;
}
.dish--9 {
  animation-delay: 1800ms;
}
.dish--10 {
  animation-delay: 2000ms;
}
.dish__name {
  font-size: 1rem;
  margin: 10px 0px 5px 0px;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.dish__info {
  font-size: 0.76rem;
  font-weight: 300;
  margin: 0px 0px 10px 0px;
  width: 85%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.dish__price {
  font-size: 0.9rem;
  font-weight: 600;
  margin: 0px 0px 10px 0px;
  width: 15%;
  text-align: center;
}
.dish:hover .dish__name {
  width: 60%;
}
.dish:hover .dish__info {
  width: 60%;
}
.dish:hover .dish__price {
  width: 15%;
  transform-origin: center right;
  animation: dish-price 500ms both ease-in-out;
}
.dish:hover .dish__check {
  display: flex;
  transform-origin: center right;
  animation: dish-check 500ms both ease-in-out;
}
.dish:hover .fa-check-circle:before {
  transform-origin: center;
  animation: check-rotate 500ms both ease-in-out;
}

.fas.dish__check {
  color: #fff;
  background: #99E2D0;
  font-size: 1.8rem;
  width: 25%;
  display: none;
  border-radius: 0px 15px 15px 0px;
  justify-content: center;
  align-items: center;
  margin-top: -34.2px;
}

/*# sourceMappingURL=styles.css.map */
