body {
  margin: 0px;
}
body a {
  text-decoration: none;
}

h1, h2, h3, h4, p {
  color: black;
}

* {
  font-family: "Roboto", "Arial", "Comic Sans MS", "Georgia", "Trebuchet MS", "Verdena";
}

h1 {
  font-family: "Shrikhand", "Roboto", "Arial", "Comic Sans MS", "Georgia", "Trebuchet MS", "Verdena";
}

.header {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: center;
}
.header__logo {
  width: 80%;
}
.header__logo h1 {
  font-size: 1.8rem;
  font-weight: 400;
  margin: 15px 0px 0px 0px;
  text-align: center;
}
.header__back {
  color: #2e2e2e;
  font-size: 1.2rem;
  margin-top: 25px;
}

.footer {
  background: #2e2e2e;
  padding: 30px 0px 20px 20px;
}
.footer__title {
  font-weight: 300;
  font-size: 1.2rem;
  color: #fff;
  margin: 0px 0px 20px 0px;
  font-family: "Shrikhand", "Roboto", "Arial", "Comic Sans MS", "Georgia", "Trebuchet MS", "Verdena";
}
.footer__list {
  padding: 0px;
  list-style-type: none;
}
.footer__list li {
  margin-bottom: 10px;
}
.footer__list a {
  padding: 0px;
  font-weight: 500;
  color: #fff;
}

.fa-utensils {
  font-size: 1rem;
  margin-right: 10px;
}

.fa-hands-helping {
  font-size: 0.7rem;
  margin-right: 10px;
}

.menu {
  width: 100%;
}
.menu__img {
  width: 100%;
  height: 240px;
  object-fit: cover;
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 50px;
  margin-bottom: -50px;
  background: #f3f3f3;
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
  padding: 30px 18px 50px 18px;
}
.card__restoname {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.card__restoname h2 {
  margin: 0px;
  font-family: "Shrikhand", "Roboto", "Arial", "Comic Sans MS", "Georgia", "Trebuchet MS", "Verdena";
  font-weight: 400;
  font-size: 1.6rem;
}
.card__restoname i {
  font-size: 1.3rem;
  color: black;
  margin-right: 20px;
}
.card__title {
  text-transform: uppercase;
  font-weight: 300;
  margin: 20px 0px 0px 0px;
  padding-bottom: 4px;
  font-size: 1rem;
  border-bottom: 2.5px solid #99E2D0;
  width: 40px;
}
.card .command__btn {
  align-self: center;
  margin-top: 40px;
}

.intro {
  background-color: #f3f3f3;
}
.intro__form {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}
.intro__title {
  width: 80%;
  margin-bottom: 0px;
  margin-top: 30px;
}
.intro__text {
  font-size: 1.1rem;
  font-weight: 300;
  margin-bottom: 30px;
  margin-top: 12px;
}

.search {
  display: flex;
  justify-content: center;
  vertical-align: middle;
  width: 100%;
  height: 3.2rem;
  background-color: #e9e8e8;
  box-shadow: inset 0px 2px 2px #c2c1c1;
  margin-bottom: 10px;
}
.search__icon {
  padding-top: 1.1rem;
  font-size: 1rem;
}
.search__zonetext {
  width: 40%;
  height: 1.1rem;
  background-color: #e9e8e8;
  border: none;
  font-size: 1rem;
  font-weight: 450;
  margin-top: 1rem;
  padding-left: 12px;
}

.pres {
  padding: 40px 20px 15px 35px;
}
.pres__title {
  margin: 0px 0px 0px -15px;
}
.pres__bloc {
  display: flex;
  height: 4rem;
  background: #f3f3f3;
  box-shadow: 0px 4px 10px #c2c1c1;
  border-radius: 15px;
  margin: 25px 0px 25px 0px;
}
.pres__bloc:hover {
  background: #f1e6ff;
}
.pres__bloc:hover i:hover {
  color: #9356DC;
}
.pres__nb {
  color: #fff;
  background: #9356DC;
  border-radius: 100%;
  padding: 5px 10px 5px 10px;
  justify-content: space-around;
  margin-left: -15px;
  height: 19px;
}
.pres i {
  margin: auto 15px auto 20px;
  color: #818181;
  width: 20px;
}
.pres__text {
  font-size: 0.9rem;
  font-weight: 450;
  margin: auto auto auto 0px;
}

.fa-mobile-alt {
  font-size: 1.2rem;
}

.fa-store {
  font-size: 0.9rem;
}

.resto {
  padding: 40px 20px 40px 20px;
  background: #f3f3f3;
}
.resto__title {
  margin-top: 0px;
}
.resto__card {
  display: flex;
  flex-direction: column;
  background: #FFF;
  border-radius: 15px;
  text-decoration: none;
  margin-bottom: 20px;
  box-shadow: 0px 4px 10px #c2c1c1;
}
.resto__card img {
  width: 100%;
  height: 160px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover;
}
.resto__card p {
  position: relative;
  left: 70%;
  margin: -148px 0px 0px 0px;
  padding: 5px 10px 5px 10px;
  background: #99E2D0;
  color: #008060;
  font-weight: 500;
  width: 65px;
  border-radius: 3px;
}
.resto__card h3 {
  margin: 15px 0px 5px 10px;
  font-size: 1.1rem;
  width: 100%;
}
.resto__card h4 {
  margin: 0px 0px 0px 10px;
  font-size: 1rem;
  font-weight: 400;
  width: 75%;
}
.resto__card--new h3 {
  margin-top: 133px;
}
.resto__text {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 15px;
}
.resto__text button {
  margin-top: -25px;
  width: 20%;
  cursor: pointer;
}
.resto__text button .fa-heart {
  font-size: 1.3rem;
  color: black;
}
.resto__fav {
  background: none;
  border: none;
}

.intro__btn {
  background: linear-gradient(172deg, #FF79DA, 45%, #9356DC);
  color: #fff;
  cursor: pointer;
  width: 14rem;
  height: 3.2rem;
  font-size: 1rem;
  font-weight: 450;
  border-radius: 100px;
  border: none;
  padding: 10px 10px 10px 10px;
  box-shadow: 0px 4px 10px #c2c1c1;
  position: relative;
  z-index: 1;
}
.intro__btn:hover::after {
  opacity: 1;
}
.intro__btn::after {
  content: "";
  background: linear-gradient(172deg, #ff80dc, 45%, #ba80ff);
  box-shadow: 0px 1px 15px #c4c4c4;
  border-radius: 100px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
}

.command__btn {
  background: linear-gradient(172deg, #FF79DA, 45%, #9356DC);
  color: #fff;
  cursor: pointer;
  width: 14rem;
  height: 3.2rem;
  font-size: 1rem;
  font-weight: 450;
  border-radius: 100px;
  border: none;
  padding: 10px 10px 10px 10px;
  box-shadow: 0px 4px 10px #c2c1c1;
  position: relative;
  z-index: 1;
}
.command__btn:hover::after {
  opacity: 1;
}
.command__btn::after {
  content: "";
  background: linear-gradient(172deg, #ff80dc, 45%, #ba80ff);
  box-shadow: 0px 1px 15px #c4c4c4;
  border-radius: 100px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
}

.dish {
  display: flex;
  background: #fff;
  border-radius: 15px;
  margin: 8px -5px 8px -5px;
  box-shadow: 0px 4px 10px #c2c1c1;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0px 10px 0px 10px;
}
.dish__name {
  font-size: 1rem;
  margin: 10px 0px 5px 0px;
  width: 100%;
}
.dish__info {
  font-size: 0.76rem;
  font-weight: 300;
  margin: 0px 0px 10px 0px;
  width: 85%;
}
.dish__price {
  font-size: 0.9rem;
  font-weight: 600;
  margin: 0px 0px 10px 0px;
  width: 15%;
  text-align: center;
}

/*# sourceMappingURL=styles.css.map */
