.load {
    width: 100%;
    height: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: fixed;
    background: $color-background;
    z-index: 2;
    opacity: 0;
    animation: loader $anim-dur*6 backwards ease-in-out;
    &__bar {
        @include load_bar;
        animation: load-bars $anim-dur backwards infinite ease-in-out alternate;
        @for $i from 1 through $num-bars {
            &--#{$i} {
                animation-delay: $anim-delay * $i;
            }
        }
    }
}