.resto {
    padding: 40px 20px 40px 20px;
    background: $color-background;
    &__title {
        margin-top: 0px;
    }
    &__card {
        @include resto-card;
        &--new h3 {
            margin-top: 133px;
        }
    }
    &__text {
        display: flex;
        flex-direction: column;
        & button {
            position: relative;
            left: 270px;
            bottom: 35px;
            margin-bottom: -10px;
            width: 21px;
            cursor: pointer;
            & .fa-heart {
                font-size: 1.3rem;
                color: black;
                font-stretch: expanded;
            }
        }
    }
    &__fav {
        background: none;
        border: none;
    }
}