.dish {
    @include dish;
    &__name {
        @include dish_name;
    }
    &__info {
        @include dish_info;
    }
    &__price {
        @include dish_price
    }
    &:hover .dish__name{
        width: 75%;
    }
    &:hover .dish__info{
        width: 60%;
    }
    &:hover .dish__price{
        width: 15%;
    }
    &:hover .dish__check{
        display: flex;
        transform-origin: center bottom;
    }
}

.fas.dish__check {
    @include dish_check;
}