@keyframes load-bars {
    0% {
        transform: scaleY(0.5);
    }
    100% {
        transform: scaleY(1);
    }
}

@keyframes loader {
    0% {
        opacity: 1;
        height: 100%;
    }
    99.9% {
        opacity: 1;
        height: 100%;
    }
    100% {
        opacity: 0;
        height: 0%;
    }
}

@keyframes btn-fav {
    
}