$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-background: rgb(243, 243, 243);
$color-darkbackground: rgb(233, 232, 232);
$color-shadow: rgb(194, 193, 193);
$background-footer: rgb(46, 46, 46);
$color-footer: #fff;

// Loader //
$bar-size: 3vh;
$num-bars: 5;
$anim-dur: 600ms;
$anim-delay: $anim-dur / $num-bars;