@mixin bouton_principaux {
    background: linear-gradient(172deg, $color-secondary, 45%, $color-primary);
    color: #fff;
    width: 14rem;
    height: 3.2rem;
    font-size: 1rem;
    font-weight: 450;
    border-radius: 100px;
    border: none;
    padding: 10px 10px 10px 10px;
    @include bloc_shadow;
    &:hover {
        background: linear-gradient(172deg, lighten_clr($color: $color-secondary), 45%, lighten_clr($color: $color-primary));
        box-shadow: 0px 1px 15px rgb(133, 133, 133);
        cursor: pointer;
    }
}

@mixin bloc_shadow {
    box-shadow: 0px 4px 10px $color-shadow;
}

@mixin bloc-padding {
    padding: 0px 10px 0px 10px;
}

@mixin resto-card {
    
}